html {
  font-size: 14px;
  background-color: black;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

body{
  background: url('../images/curtains.png') bottom center, url('../images/bg.jpg') bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pedal {
  transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
}

kbd {
  display: block;
  font-size: 4rem;
}

.effect-label img {
    transition: all .3s ease;
    transform: translateY(0);
}

.effect-label.active img {
    transform: translateY(-3rem);
}

.carbon{
  background-color: rgb(19, 19, 19);
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
}

.paper{
  background-image:url(images/paper.png);
  font-family: 'Architects Daughter', cursive;
}

.font-hand{
  font-family: 'Architects Daughter', cursive;
}

.logo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.cursor-horns{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤟</text></svg>") 16 0,auto; /*!emojicursor.app*/
}